html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}

/* header*/

.header__burger {
  display: none;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 29px 0 35px 0;
}

.star {
  color: #f06c64;
}

.header {
  width: 100%;
  max-height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: fixed;
  z-index: 2;
}

.header__wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.035em;
  font-weight: bold;
}

.navigation li {
  list-style: none;
  padding-left: 20px;
}

.navigation li:before {
  color: #ffffff;
  content: "\2022";
  padding: 10px;
  font-size: 70%;
}

.navigation li:first-child::before {
  content: "";
}

.navigation_link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation_link:hover {
  color: #f06c64;
  transition: all 0.3s ease;
}

/*slider*/

.slider {
  width: 100%;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  padding-top: 95px;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
}

.telephone {
  height: 594px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tel_vertical {
  width: 240px;
  height: 483px;
  background: url("images/slider/phone-vertical.png") no-repeat;
}

.tel_horizontal {
  width: 483px;
  height: 240px;
  background: url("images/slider/phone-horizontal.png") no-repeat;
}

@media screen and (max-width: 1020px) {
  .slider__wrapper {
    width: 768px;
  }

  .telephone {
    height: 447px;
  }

  .tel_vertical {
    width: 180px;
    height: 363px;
    background: url("images/slider/phone-vertical.png") no-repeat;
    background-size: 100% 100%;
  }

  .tel_horizontal {
    width: 363px;
    height: 180px;
    background: url("images/slider/phone-horizontal.png") no-repeat;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 768px) {
  .slider__wrapper {
    width: 375px;
  }

  .telephone {
    height: 218px;
  }

  .tel_vertical {
    width: 88px;
    height: 177px;
    background: url("images/slider/phone-vertical.png") no-repeat;
    background-size: 100% 100%;
  }

  .tel_horizontal {
    width: 177px;
    height: 88px;
    background: url("images/slider/phone-horizontal.png") no-repeat;
    background-size: 100% 100%;
  }
}

.slider__arrow {
  position: absolute;
  border: none;
  outline: none;
  width: 16px;
  height: 27px;
  padding: 0px;
  top: 283px;
  cursor: pointer;
}

.left_arrow {
  background: url("images/slider/arrow-left.png") no-repeat;
  left: 40px;
}

.right_arrow {
  background: url("images/slider/arrow-right.png") no-repeat;
  right: 40px;
}

.left_arrow:active,
.left_arrow:hover,
.right_arrow:active,
.right_arrow:hover {
  width: 23px;
  height: 34px;
  background-size: 85%;
}

@media screen and (max-width: 1020px) {
  .left_arrow {
    top: 212px;
    left: 29px;
  }

  .right_arrow {
    top: 212px;
    right: 29px;
  }
}

@media screen and (max-width: 768px) {
  .left_arrow {
    top: 100px;
    left: 10px;
  }

  .right_arrow {
    top: 100px;
    right: 10px;
  }
}

/*services*/

.services {
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__wrapper {
  padding: 49px 20px 46px;
  color: #666d89;
}

.tool__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__services h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}

.about__services p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.tool {
  width: 330px;
  padding: 0px;
  margin: 0px;
}

.card h4 {
  font-size: 18px;
  font-weight: 900;
}

.card p {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-align: justify;
}

.tool__icon {
  float: left;
  padding: 25px 0;
  margin: 0;
}

.card {
  padding-left: 25px;
  margin-left: 90px;
  overflow: hidden;
}

/*portfolio*/

.portfolio {
  width: 100%;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__wrapper {
  padding: 0 20px;
  color: #666d89;
}

.portfolio__header {
  padding-top: 59px;
  margin: 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}

.portfolio__descripltion {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.portfolio__tags {
  margin-bottom: 18px;
}

.tag {
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  padding: 3px 5px 5px;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
}

.tag:hover {
  color: #dedede;
  border-color: #dedede;
  transition: all 0.3s ease;
}

.layout-4-column {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 61vw;
  max-height: 650px;
  overflow: hidden;
  padding-bottom: 68px;
}

.picture {
  max-width: 240px;
  width: 23%;
  margin-bottom: 20px;
}

/*footer*/

.footer {
  width: 100%;
  background-color: #2d303a;
}

.footer__wrapper {
  padding: 0 20px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info {
  color: #666d89;
  font-size: 13px;
  font-weight: 900;
}

.footer__link {
  display: flex;
  flex-direction: row;
}

.footer__link_item {
  list-style: none;
  padding-inline-start: 0px;
}

.link {
  display: inline-block;
  padding-left: 5px;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.2);
  transition: scale 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .logo {
    padding: 24px 0 25px 10px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1020px) {
  .tool__wrapper {
    justify-content: space-around;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .tool__wrapper {
    display: block;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__info {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
  }

  .navigation {
    display: none;
  }

  .header__wrapper {
    justify-content: center;
  }

  .header__burger,
  .header__burger:before,
  .header__burger:after {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    left: 30px;
  }

  .header__burger:before {
    content: "";
    top: -10px;
    left: 0px;
  }

  .header__burger:after {
    content: "";
    top: 10px;
    left: 0px;
  }

  .navigation_link {
    padding: 20px 0;
  }

  .layout-4-column {
    height: 110vw;
    max-height: 1000px;
  }

  .picture {
    max-width: 240px;
    width: 31.7%;
  }
}
